/* general CSS */

html, body {
  margin: 10px;
}

h1 {
  text-align: center;
}

.using {
  margin: 5px 0;
  text-align: center;
}

[class^="wrapper"] {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  outline: 1px solid black;
  margin: 0 auto;
}

[class^="wrapper"] input {
  display: none;
}

[class^="wrapper"] .slider__controls {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
}

[class^="wrapper"] .slider__controls label {
  content: "";
  position: relative;
  margin-right: 2px;
  width: 15px;
  height: 15px;
  border: 3px solid #435777;
  border-radius: 50%;
}

[class^="wrapper"] .slider__controls label::before {
  visibility: hidden;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
  background-color: #435777;
  border-radius: 50%;
}

#a:checked ~ .slider__controls label[for="a"]::before,
#b:checked ~ .slider__controls label[for="b"]::before,
#c:checked ~ .slider__controls label[for="c"]::before,
#d:checked ~ .slider__controls label[for="d"]::before,
#o:checked ~ .slider__controls label[for="o"]::before,
#p:checked ~ .slider__controls label[for="p"]::before,
#q:checked ~ .slider__controls label[for="q"]::before,
#r:checked ~ .slider__controls label[for="r"]::before,
#s:checked ~ .slider__controls label[for="s"]::before,
#t:checked ~ .slider__controls label[for="t"]::before,
#u:checked ~ .slider__controls label[for="u"]::before,
#w:checked ~ .slider__controls label[for="w"]::before{
  visibility: visible;
}

[class^="wrapper"] img {
  width: 100%;
}

[class^="wrapper"] h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  background-color: gray;
  color: black;
  text-align: center;
  line-height: 30px;
}

/* 1 and 2 */

[class^="wrapper"] .book {
  position: absolute;
  top: 0;
  left: 0;
}

/* 1 */

.wrapper1 .slider__controls  {
  z-index: 1;
}

.wrapper1 .book {
  transform: translate(400px);
  transition-duration: 0.5s;
}

#a:checked ~ .wrapper__inner .book:nth-child(1),
#b:checked ~ .wrapper__inner .book:nth-child(2),
#c:checked ~ .wrapper__inner .book:nth-child(3),
#d:checked ~ .wrapper__inner .book:nth-child(4){
  transform: translate(0);
}  


/* 2 */

.wrapper2 .slider__controls {
  z-index: 2;
}

#o:checked ~ .wrapper__inner .book:nth-child(1),
#p:checked ~ .wrapper__inner .book:nth-child(2),
#q:checked ~ .wrapper__inner .book:nth-child(3),
#r:checked ~ .wrapper__inner .book:nth-child(4){
  z-index: 1;
}

/* Того же эффекта можно достичь используя "visibility: hidden" или "display: none". Для демонстрации, закомментируйте блок кода под номером "2" и раскоментируйте код снизу */
/* 
[class^="wrapper"].wrapper2__inner .book {
  visibility: hidden;
}
#o:checked ~ .wrapper2__inner .book:nth-child(1),
#p:checked ~ .wrapper2__inner .book:nth-child(2),
#q:checked ~ .wrapper2__inner .book:nth-child(3),
#r:checked ~ .wrapper2__inner .book:nth-child(4) {
  visibility: visible;
} 
*/


/* 3 */

.wrapper3__inner {
  overflow: visible;
  font-size: 0;
}

.wrapper3 .slider__controls {
   z-index: 1;
}

.wrapper3 .book  {
  position: static;
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 400px;
}

.wrapper3__inner  {
  width: 100%;
  height: 100%;
  transition-duration: 0.25s;
}

#s:checked ~ .wrapper3__inner  {
  transform: translateY(0px);
}

#t:checked ~ .wrapper3__inner {
  transform: translateY(-400px);
}

#u:checked ~ .wrapper3__inner {
  transform: translateY(-800px);
}

#w:checked ~ .wrapper3__inner {
  transform: translateY(-1200px);
}  
